header {
  border-bottom: 1px solid #eaeaea;

  img {
    margin-right: 15px;
    animation: coin 3s infinite linear;
  }

  h3,
  p {
    margin: 0;
  }
}

@keyframes coin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(7deg);
  }
}
